name: Node.js CI

on:
    workflow_dispatch:
    push:
        branches: [ "master" ]
    pull_request:
        branches: [ "master" ]

jobs:
    linux-build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6
            - name: Use Node.js
              uses: actions/setup-node@v6
              with:
                node-version: 24

            - name: Install Node.js dependencies
              run: npm ci

            - name: Build linux arm64 and x64
              run: npm run-script linux

            - name: Upload artifacts
              uses: actions/upload-artifact@v5
              with:
                name: linux-artifacts
                path: |
                  dist/pokeclicker-desktop*.deb
                  dist/pokeclicker-desktop*.rpm
