name: Update package-lock.json

on:
    workflow_dispatch:

jobs:
    linux-build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6
            - name: Use Node.js
              uses: actions/setup-node@v6
              with:
                node-version: 24

            - name: Update lock file
              run: rm package-lock.json && npm install --package-lock-only

            - name: Run audit fix
              run: npm audit fix

            - name: Upload artifacts
              uses: actions/upload-artifact@v5
              with:
                name: artifacts
                path: |
                  package-lock.json
